<div class="mt-4">

    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa..."> {{!-- thẻ input cần phải có attribute name = q trên thanh URL nó sẽ hiển thị là (?q=f8) để thực hiện hành vi submit và đồng thời nó sẽ request và đính thêm 1 cái query parameters mà chúng ta đã nhập ở ô tìm kiếm vào --}}
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>