<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{> page/title}}</title>
</head>
<body>
    <div class="app">
        <header>
            <h1>HEADER</h1>
        </header>
<div class="container">
        {{{body}}} {{!-- body này sẽ thay đổi theo nội dung mà mình render bên file home.handlebars, còn đi đâu mình cũng đều có header và footer --}}
</div>
    <footer>
        <h1>FOOTER</h1>
    </footer>
    </div>
</body>
</html>