<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{> page/title}}</title>
</head>
<body>
    <div class="app">
        <header>
            <h1>HEADER</h1>
        </header>
    {{{body}}}
    <footer>
        <h1>FOOTER</h1>
    </footer>
    </div>
</body>
</html>